<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-submenu nzOpen nzTitle="Quản lý" nzIcon="user">
        <ul>
          <!-- <li nz-menu-item nzSelected>Quản Lý</li> -->
          <ng-container *ngFor="let item of listMenus">
            <li nz-menu-item>
              <nz-icon nzType="user" />
              {{ item.title }}
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>Header</nz-header>
    <nz-content>
      <div class="content-box">
        <p class="content-2">
          Theo truyền thông Ukraine, cánh quân chủ lực với quy mô khoảng 100.000
          binh sĩ của Nga từng tiến rất sát mục tiêu kiểm soát thành phố
          Pokrovsk, vùng Donetsk, nhưng các đợt phản ứng nhanh của Kiev cùng
        </p>
      </div>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>
