nz-header,
nz-footer {
  color: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  color: #fff;
  line-height: 120px;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}

.ant-layout-sider {
  height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #afacac;
    border-radius: 10px;

  }
}